<!DOCTYPE html>



<%= link_to "List events",events_list_events_path%>
<%= link_to "Import my Google Calendar", "/auth/google_oauth2" %>
<%= link_to "Create events", new_event_path %>




<div class='calendar'></div>

<%= Timely::ApplicationController::EVENTNAME %>

