<!DOCTYPE html>
<html>
<head>
  <title>Timely</title>
  <%= stylesheet_link_tag    "timely/application", media: "all" %>
  <%= javascript_include_tag "timely/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
