
 <tbody>

<%= form_tag(auth_google_oauth2_getCalendars_path, method: "post") do %>


	<% JSON.parse(@google_calendar_list.body)["items"].each do |item|%>
	<tr><td>
       	<%= check_box_tag 'calendar_ids[]',item["id"],:checked_value  %>


        <%= item["summary"]%>


    </td></tr>
    </br>
    </tbody>
    <% end %>

  <%= submit_tag("Finish picking calendars") %>
<% end %>


  </tbody> 
